---
layout: default
---

<div class="home">

  <div class="divider">
    <div class="left">
      <img id="profilepic" width="200" height="200" src="assets/profile.png" alt="Profile">
    </div>
    <div class="right">
      <p>Hi! I'm Elyanah Aco, and welcome to my website!</p>
      <p>
        Currently, I'm a data analyst for a Singaporean hedge fund. When I'm not coding, I
        <a href="https://www.instagram.com/gising_gising/">illustrate</a>, watch Youtube video essays,
        and play video games.
      </p>
      <p>
        I'm currently interested in natural language processing (NLP), with the hope of studying
        more about it in graduate school. This website will include that and some other fun coding and data 
        projects. Feel free to look around and read!
      </p>
    </div>
  </div>


  <!--
  <div style="display:flex;justify-content:center;">
    <iframe src="https://ljvmiranda.substack.com/embed" width="480" height="100"
      style="border:0px solid #EEE; background:fffff8;" frameborder="0" scrolling="no"></iframe>
  </div>
  -->

  &nbsp;

  <hr>

  &nbsp;

  <h2>Recent Posts</h2>

  <ul class="post-list">
    {% assign mainPosts = site.posts | where: 'type', 'post' %}
    {% for post in mainPosts limit:3 %}
    <li>
      {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
      <span class="post-meta">{{ post.date | date: date_format }} &verbar; {{ post.category | capitalize }}</span>

      <h3><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h3>
      <p style="color:#828282">{{ post.description }}</p>
    </li>
    {% endfor %}
  </ul>
</div>